{% extends "HIS_app/dashboard_base.html" %}
{% block title %} Change Password {% endblock %}

{% load crispy_forms_tags %}

{% block header %}Change Password{% endblock %}

{% block content %}

<style>
    label {
        color: white !important;
    }
</style>
<center>
<div class="col-md-6">
<div class="form-wrap">
    <form method="POST" class="form-group" >
        <!-- Create a Crsf_token here [Required] -->
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class='btn btn-primary'>Change Password</button>
        <br>
        <br>
    </form>
    <a href="/dashboard" class="btn btn-primary" style="background: #3db5ff !important; color:white !important">Return to Dashboard</a>
</div>
</div>
</center>
{% endblock %}
