{% extends "HIS_app/dashboard_base.html" %}
{% block title %} Edit Profile {% endblock %}

{% load crispy_forms_tags %}

{% block header %}Edit Profile{% endblock %}

{% block content %}

<style>
    label {
        color: grey;
    }
    #div_id_password {
        display: none;
    }
    label {
        color: white !important;
    }

</style>
<center>
<div class="col-md-6">
<div class="form-wrap">
    <form method="POST" class="form-group" >
        <!-- Create a Crsf_token here [Required] -->
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class='btn btn-primary' style="background: #3db5ff !important; color:white !important">Update Profile</button>
        <br>
        <br>
    </form>
    <a href="/dashboard" class="btn btn-outline-primary" style="background: #3db5ff !important; color:white !important">Return to Dashboard</a>
    <a href="/change-password" class="btn btn-outline-primary" style="background: #3db5ff !important; color:white !important">Change Password</a>
</div>
</div>
</center>
{% endblock %}
