{% extends "urlshortner/dashboard_base.html" %}
{% block title %} Password Changed! {% endblock %}

{% load crispy_forms_tags %}

{% block header %}Password Changed Succesfully!{% endblock %}

{% block content %}

<style>
    label {
        color: grey;
    }
</style>
<center>
    <div class="col-md-6">
        <a href="/dashboard" class="btn btn-danger">Return to Dashboard</a>
    </div>
</center>
{% endblock %}
