{% extends "HIS_app/base.html" %}
{% load static %}

{% block title %}
Get In Touch! - M-ini.me
{% endblock %}

{% load crispy_forms_tags %}

{% block header %}Get In Touch!{% endblock %}
{% block content %}
    <!-- Page content-->
    <section class="py-5">
        <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <h1>Welcome to Clinic Name</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare massa eget egestas purus viverra. Libero nunc consequat interdum varius. Nulla facilisi cras fermentum odio eu feugiat. Ut diam quam nulla porttitor massa id neque. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Congue nisi vitae suscipit tellus mauris a. </p><p>Tincidunt ornare massa eget egestas purus viverra. Nunc vel risus commodo viverra maecenas accumsan lacus. Nisl rhoncus mattis rhoncus urna neque viverra justo. Egestas sed sed risus pretium quam vulputate. Tristique senectus et netus et malesuada fames. Gravida in fermentum et sollicitudin ac orci. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate.

Tincidunt vitae semper quis lectus nulla at. Auctor eu augue ut lectus arcu bibendum at varius vel. Rutrum quisque non tellus orci. Elementum integer enim neque volutpat ac tincidunt vitae semper. Lectus urna duis convallis convallis tellus id interdum. Varius morbi enim nunc faucibus a pellentesque sit amet. Purus in mollis nunc sed id semper risus in hendrerit. Adipiscing diam donec adipiscing tristique risus nec feugiat. Habitant morbi tristique senectus et netus et malesuada fames ac. Sem viverra aliquet eget sit amet tellus cras adipiscing enim. Velit laoreet id donec ultrices tincidunt arcu non. Purus faucibus ornare suspendisse sed.</p>
                                            <img class="img-fluid rounded-3 my-5" id="illust_id" style="opacity: 0.8" src="{% static 'HIS_app/doctors.png' %}" alt="" />
<p>
Diam donec adipiscing tristique risus. Luctus accumsan tortor posuere ac. Ipsum a arcu cursus vitae congue. Sed sed risus pretium quam vulputate dignissim suspendisse in est. Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Id cursus metus aliquam eleifend mi in nulla posuere. Vulputate ut pharetra sit amet aliquam id diam maecenas. Neque sodales ut etiam sit amet nisl purus in. Faucibus a pellentesque sit amet. Ultricies tristique nulla aliquet enim. Cras adipiscing enim eu turpis egestas. Lobortis scelerisque fermentum dui faucibus in ornare.

Aenean pharetra magna ac placerat vestibulum. Nulla porttitor massa id neque aliquam. A condimentum vitae sapien pellentesque habitant. Sagittis nisl rhoncus mattis rhoncus. Nec ullamcorper sit amet risus nullam eget. Convallis aenean et tortor at risus viverra adipiscing. Quis lectus nulla at volutpat diam ut. Mattis vulputate enim nulla aliquet porttitor lacus. Tellus in hac habitasse platea. A condimentum vitae sapien pellentesque. Integer feugiat scelerisque varius morbi enim nunc. Viverra nam libero justo laoreet. Semper eget duis at tellus at urna condimentum mattis pellentesque. Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Vitae nunc sed velit dignissim sodales. Ut pharetra sit amet aliquam id diam. Risus quis varius quam quisque id diam. Ut eu sem integer vitae justo. Fames ac turpis egestas integer eget aliquet nibh praesent.
</p>
<p>
Purus ut faucibus pulvinar elementum integer enim neque volutpat ac. Accumsan lacus vel facilisis volutpat est velit egestas dui. Scelerisque felis imperdiet proin fermentum. Molestie a iaculis at erat. Arcu odio ut sem nulla pharetra diam. Aliquam sem et tortor consequat id. Elit at imperdiet dui accumsan sit amet nulla facilisi. Viverra tellus in hac habitasse. Ultricies lacus sed turpis tincidunt id. Mauris ultrices eros in cursus turpis massa tincidunt dui ut. In nulla posuere sollicitudin aliquam ultrices sagittis orci a. Morbi blandit cursus risus at ultrices mi tempus imperdiet nulla. Lectus mauris ultrices eros in. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. Tincidunt dui ut ornare lectus sit amet est. Duis ultricies lacus sed turpis tincidunt id aliquet risus. Quam vulputate dignissim suspendisse in est ante in nibh.

Sed sed risus pretium quam vulputate dignissim suspendisse in est. Auctor urna nunc id cursus. Molestie ac feugiat sed lectus. Tincidunt lobortis feugiat vivamus at augue. Massa sapien faucibus et molestie ac feugiat. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Feugiat sed lectus vestibulum mattis. Ipsum nunc aliquet bibendum enim facilisis. Massa eget egestas purus viverra accumsan in nisl. Pretium aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Nisl tincidunt eget nullam non. Dictum non consectetur a erat nam at lectus urna. Enim eu turpis egestas pretium aenean pharetra. Amet purus gravida quis blandit turpis cursus in hac habitasse. Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Lorem donec massa sapien faucibus et molestie ac feugiat sed. Bibendum at varius vel pharetra vel. Lectus magna fringilla urna porttitor rhoncus dolor. Velit dignissim sodales ut eu. Arcu dui vivamus arcu felis bibendum ut.

Cras adipiscing enim eu turpis. Faucibus turpis in eu mi bibendum neque. Accumsan in nisl nisi scelerisque eu ultrices vitae auctor. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Proin libero nunc consequat interdum varius sit amet. Arcu dictum varius duis at. Amet mauris commodo quis imperdiet. Et leo duis ut diam quam nulla porttitor massa id. Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. Aliquet bibendum enim facilisis gravida. Quis viverra nibh cras pulvinar mattis nunc sed. Egestas tellus rutrum tellus pellentesque eu. Massa tempor nec feugiat nisl pretium fusce. Vitae semper quis lectus nulla at volutpat diam ut. Turpis in eu mi bibendum neque egestas congue. Fringilla ut morbi tincidunt augue interdum velit euismod.</p>
                                <br>
                                <br>
                                <p>A project by:</p>
                                <p>Eskias Yilma</p>

                        </div>
                    </div>
    </section>

{% endblock %}
