{% extends "HIS_app/dashboard_admin.html" %}
<!-- Load Static -->
{% load static %}
<!-- Load custom template filters -->
{% block title %} Appointments {% endblock %}

{% block header %}
Manage Appointments
{% endblock %}


{% block content %}
<style>
  .table {
    --bs-table-bg: rgba(0,0,0,0);
    --bs-table-striped-color: #6C7293;
    --bs-table-striped-bg: rgba(0,0,0,0.05);
    --bs-table-active-color: #6C7293;
    --bs-table-active-bg: rgba(0,0,0,0.1);
    --bs-table-hover-color: #6C7293;
    --bs-table-hover-bg: rgba(0,0,0,0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #6C7293;
    vertical-align: top;
    border-color: #000;
}

.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-popup img {
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.image-popup a {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.fa-qrcode {
  border: 1px solid #F5F5F5;
  padding: 5px;
  border-color: grey;
  border-radius: 5px;
  color: green;
  font-size: 15px;
}

.dataTable-container {
  text-align-last: center;
}

</style>



<div class="card mb-4" style="background:#222428; color:grey; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); border-radius: 20px; ">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Manage Appointments Here
  </div>
  <div class="card-body">

    <table id="datatablesSimple" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Doctor</th>
          <th scope="col">Patient</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Approved</th>
          <th scope="col">Met</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Doctor</th>
          <th scope="col">Patient</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Approved</th>
          <th scope="col">Met</th>
        </tr>
      </tfoot>
      <tbody>
        {% for i in appointments %}
            <tr>
              <td>{{forloop.counter}}</td>
              {% if i.doctor %}
                <td>{{i.doctor.user.first_name}} {{i.doctor.user.last_name}}</td>
              {% else %}
                <td>Not Assigned</td>
              {% endif %}
              {% if i.first_name %}
                <td>{{i.first_name}} {{i.last_name}}</td>
              {% else %}
                <td>{{i.patient.user.first_name}} {{i.patient.user.last_name}}</td>
              {% endif %}
              {% if i.appointment_date %}
                <td>{{i.appointment_date}}</td>
              {% else %}
                <td>Not Set</td>
              {% endif %}
              {% if i.appointment_time %}
                <td>{{i.appointment_time}}</td>
              {% else %}
                <td>Not Set</td>
              {% endif %}
              {% if i.is_approved %}
                <td><i class="fa fa-check" aria-hidden="true" style="color:green"></i></td>
              {% else %}
                <td><i class="fa-solid fa-x" style="color:red"></i></td>
              {% endif %}
              {% if i.is_met %}
                <td><i class="fa fa-check" aria-hidden="true" style="color:green"></i></td>
              {% else %}
                <td><i class="fa-solid fa-x" style="color:red"></i></td>
              {% endif %}
              <td><a class="btn btn-sm btn-success" href="/appointment/{{i.id}}/update" style="color:black; background:green"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
              <td><a class="btn btn-sm btn-success" href="/appointment/{{i.id}}/approve" style="color:black; background:yellow"><i class="fa fa-check" aria-hidden="true"></i></a></td>
              <td><a class="btn btn-sm btn-danger" href="/appointment/{{i.id}}/delete" style="color:black; background:red"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
