{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Author -->
        <meta name="author" content="Eskias Yilma" />
        <!-- Title -->
        {% if request.path == "/" %}
        <title>Clinicare.io | Your health in your pockets!</title>
        {% else %}
        <title>{% with name=request.path|slice:"1:-1" %}{{name|title}}{% endwith %} | Clinicare.io</title>
        {% endif %}
        <!-- #############################TOCHANGE############################# -->
        <!-- Description -->
        <meta name="description" content="Clinicare.io helps you to create shorter and more manageable links for your content. With this tool, you can easily share links on social media, messaging apps, and other platforms, and track clicks on your links to see how your content is performing." />
        <!-- Keywords -->
        <meta name="keywords" content="health, doctors, appointments, patients" />
        <!-- Thumbnail Image -->
        <meta property="og:image" content="https://Clinicare.io/static/HIS_app/MyClinicare.io1.png">
        <link rel="image_src" href="https://Clinicare.io/static/HIS_app/MyClinicare.io1.png">
        <!-- Canonical -->
        <link rel="canonical" href="https://Clinicare.m-ini.me{{request.path}}">
        <!-- #############################TOCHANGE############################# -->

        <!-- Home Link -->
        <link rel="home" href="{% url 'home' %}">
        <!-- Color Scheme -->
        <meta name="color-scheme" content="dark" />
        <!--Robots-->
        <meta name="robots" content="index,follow">
        <!-- Favicon-->
        <link rel="shortcut-icon" type="image/png" href="{% static 'HIS_app/MyClinicare.io1.png' %}" type="image/x-icon" />
        <link rel="icon" type="image/png" href="{% static 'HIS_app/MyClinicare.io1.png' %}" />
        <link rel="apple-touch-icon" type="image/png" href="{% static 'HIS_app/MyClinicare.io1.png' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static 'HIS_app/styles.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'HIS_app/dashboard.css' %}">
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.6/css/flag-icons.min.css" integrity="sha512-uvXdJud8WaOlQFjlz9B15Yy2Au/bMAvz79F7Xa6OakCl2jvQPdHD0hb3dEqZRdSwG4/sknePXlE7GiarwA/9Wg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Ubuntu">
        <style>
          body {
            font-family: 'Ubuntu', serif !important;
            font-size: 15px;
          }
          #hint_id_password1 ul{
            display: flex;
            flex-wrap: wrap;
          }
        </style>
        <!-- Context -->
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            {% if request.path == "/" %}
            "name": "Clinicare.io | Make your links shorter and smarter for FREE!",
            {% else %}
            "name": "{% with name=request.path|slice:'1:-1' %}{{name|title}}{% endwith %} | Clinicare.io",
            {% endif %}
            "url": "https://www.Clinicare.m-ini.me/",
            "description": "Clinicare.io helps you to create shorter and more manageable links for your content. With this tool, you can easily share links on social media, messaging apps, and other platforms, and track clicks on your links to see how your content is performing.",
            "inLanguage": "en",
            "copyrightHolder": {
            "@type": "Organization",
            "name": "Clinicare.m-ini.me",
            "url": "https://www.Clinicare.m-ini.me/"
            },
            "image": {
            "@type": "ImageObject",
            "url": "{% static 'HIS_app/logo_x.png' %}",
            "height": 500,
            "width": 500
            }
        }
        </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-B8P23LKTJG"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-B8P23LKTJG');
        </script>

        {% block head %}{% endblock %}

    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">

            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color:#5f9ea0 !important; ">
                <div class="container px-5">
                    <a class="navbar-brand" href="/"><img alt="Clinicare.io : Your Health in your Pockets!" src="{% static 'HIS_app/MyClinicare.io1.png' %}" id="navbar-logo" style="height:150px; padding:20px; border-radius: 50px;"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/" style="color: white; font-size: 20px;">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact_us" style="color: white; font-size: 20px;">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about_us" style="color: white; font-size: 20px;">About</a></li>
                            <li class="nav-item">  </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="btn btn-outline-light btn-primary nav-link" href="/dashboard" style="color:white; background:#c47d6a">
                                    Dashboard</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="/edit_profile">My Profile</a></li>
                                        <li><a class="dropdown-item" href="/my_urls">My Notifications</a></li>
                                        <li><a class="dropdown-item" href="/recent_activity">Activity Log</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                            {% else %}

                                <li class="nav-item">  </li>
                                <li class="nav-item">
                                    <a href="/login" class="btn  btn-outline-light btn-lg px-4 me-sm-3">
                                        <span class="btn-inner--text">Get Started</span>
                                    </a>
                                </li>

                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% block content %} {% endblock %}
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Clinicare.io 2023. All Rights Reserved.</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="/privacy">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="/terms">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="/contact">Contact</a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'HIS_app/scripts.js' %}"></script>
        <!-- Dismiss alerts -->
        <script>
            $('.alert').alert();
        </script>
    </body>
</html>
