{% extends 'HIS_app/dashboard_patient_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Dashboard[Patient] {% endblock %}

{% block header %}
Dashboard[{{user.first_name}}]
{% endblock %}

{% block content %}
<br>
<br>
<div class="card mb-4" style="background:#222428; color:grey; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); border-radius: 20px; ">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Book Appointments Here
  </div>
  <div class="card-body">
        <div class="form-wrap" id="appt_form" style="background-color:cadetblue">
        <!-- insert form here -->
            <form method="POST" class="form-group appt_form">
                {% csrf_token %}
                {{appt_form|crispy}}
                <br>
                <button name="appt_submit" type="submit" class="btn btn-lg w-100 btn-outline-light" style="display:inline; margin: 0;">Book Appointment</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
