{% extends 'HIS_app/dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Dashboard[Admin] {% endblock %}

{% block header %}
Dashboard[Admin]
{% endblock %}
{% block navbar %}
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" style="box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Reporting</div>
            <a class="nav-link" href="/dashboard">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <div class="sb-sidenav-menu-heading">Admin Tools</div>

                <a class="nav-link" href="/doctors">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-md"></i></div>
                    Doctors
                </a>
                <a class="nav-link" href="/patients">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-bed-pulse"></i></div>
                    Patients
                </a>
                <a class="nav-link" href="/medical_history">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-clock-rotate-left"></i></div>
                    Medical Histories
                </a>
                <a class="nav-link" href="/appointments">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-calendar-days"></i></div>
                    Appointments
                </a>


            <div class="sb-sidenav-menu-heading">Settings</div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-gear"></i></div>
                My Settings
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/user/edit_profile">Edit Profile</a>
                    <a class="nav-link" href="/change-password">Change Password</a>
                    <a class="nav-link" href="/logout">Logout</a>
                </nav>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        {{user}}
    </div>
</nav>
{% endblock %}
{% block content %}
<style>
    h1.mt-4.text-center {
        color: white !important;
    }
    .row {
         text-align:center;
    }
    #content-container { display: block; position: relative; width: 269px; width: 269px; height: 435px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


    #page_frame_1_ek1 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 435px;
    }

    #_bg__frame_1_ek2 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 435px;
        background:rgba(255,255,255,1);
    }


    #rectangle_1 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 162px;
        background:rgba(245.44,169.76,169.76,1);
    }


    #ellipse_1 {
        top: 112px;
        left: 85px;
        width: 118px;
        height: 118px;
        -ms-border-radius: 50px / 50px;
        -o-border-radius: 50px / 50px;
        -moz-border-radius: 50px / 50px;
        -webkit-border-radius: 50px / 50px;
        border-radius: 50px / 50px;
        border: 9px solid #ffffff;
        background:rgba(217,217,217,1);
    }
    .card {
        border-radius: 20px;
        border-color: #222428;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        padding: 5px;
    }
    #id_url_text {
        font-size: 12px;
    }
    #id_search_query {
        width: 100%;
        height: auto;
    }
    /*TABLE CSS*/
    .table {
    --bs-table-bg: rgba(0,0,0,0);
    --bs-table-striped-color: #6C7293;
    --bs-table-striped-bg: rgba(0,0,0,0.05);
    --bs-table-active-color: #6C7293;
    --bs-table-active-bg: rgba(0,0,0,0.1);
    --bs-table-hover-color: #6C7293;
    --bs-table-hover-bg: rgba(0,0,0,0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #6C7293;
    vertical-align: top;
    border-color: #000;
    }

    .image-popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .image-popup img {
      border-radius: 10px;
      max-width: 80%;
      max-height: 80%;
      object-fit: contain;
    }

    .image-popup a {
      color: white;
      font-size: 20px;
      margin-top: 20px;
      text-decoration: none;
      border-bottom: 1px solid white;
    }
    .fa-qrcode {
      border: 1px solid #F5F5F5;
      padding: 5px;
      border-color: grey;
      border-radius: 5px;
      color: green;
      font-size: 15px;
    }

    .dataTable-container {
      text-align-last: center;
      border-radius: 15px;
    }
    .card-body {
        background-color: cadetblue;
        border-radius: 15px;
    }
    .container {
        background-color: cadetblue;
        border-radius: 15px;
    }

    .card-footer {
        border-radius: 15px !important;
    }
    table, td{
        background-color: mintcream;
        border-radius: 15px;
    }
    main {
        background-color: #599496 !important;
    }
    .card {
        border-color: aqua;
        background-color: #c2d5cb !important;
        border-radius: 15px;
    }
    .dataTable-selector {
        background-color: white !important;
    }
    label {
        color: white;
    }
    .dataTable-info {
        color: white;
    }
</style>

<div class="container">
    <!-- Reports Dashboard -->
    <div class="row" style="display:block;">
        <br>
        <div class="col" style="margin-bottom: 10px">
            <div class="card bg-dark text-white mb-4" style="height:100%; border-color: aqua">
                <div class="card-header">Search patient by name or phone number</div>
                <div class="card-body" style="text-align:center; ">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3" style="font-size:15px; display:block; width: 100%;">
                            {{search_form|crispy}}
                          <div class="input-group-append">
                            <br>
                            <button class="btn btn-success btn-md px-4 me-sm-3" type="submit" name="search" value="Search" style="background:#c47d6a; color:white; font-size:15px">Search</button>
                          </div>
                        </div>
                    </form>

                    {% if search_query %}
                        {% if search_results %}
                            <div class="col" style="margin-bottom: 10px">
                                <div class="card bg-dark text-white mb-4">
                                    <div class="card-header" style="text-align:left; color:grey">Quick Search Results</div>
                                    <div class="card-body">
                                    {% for i in search_results %}
                                        <div class="card bg-dark text-white mb-4" style="border-radius: 20px;">
                                            <div class="card-header" style="text-align:left; color:grey">Patient Name - {{i.user.first_name}}</div>
                                            <div class="card-body" style="text-align:left;">
                                                <p class="small text-white"><a href="/patient/{{i.id}}" target="_blank">View patient</a></p>
                                                <p>Phone Number - {{i.contact_number}}</p>
                                                <p>Approved - {{i.is_approved}}</p>
                                                <p>Has History - {{i.has_history}}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="card-footer" style="text-align: center">
                                        <a href="/my_urls" class="btn btn-success btn-md px-4 me-sm-3" style="color:black; background:cyan" >Go To Patients</a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>No Patient Records Found</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row" style="display:flex;">
        <br>
        <div class="row" style="display:contents;">
            <div class="col">
                <div class="card bg-dark text-white mb-3">
                    <div class="card-header">Doctors</div>
                    <div class="card-body" style="text-align:center;">
                      <h5>{{doctors}}</h5></div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark text-white mb-3">
                    <div class="card-header">Patients</div>
                    <div class="card-body" style="text-align:center;">
                      <h5>{{patients}}</h5></div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark text-white mb-3">
                    <div class="card-header">Appointments</div>
                    <div class="card-body" style="text-align:center;">
                      <h5>{{appointments}}</h5></div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="row" style="display:contents;">
        <div class="col" style="vertical-align:center;">
            <div class="card bg-dark text-white" style="height:auto;">
                <div class="card-header">
                    <h5 class="card-title">Pending Appointments</h5>
                </div>
                <div class="card-body" style="padding:2px!important">
                    <div class="card mb-4" style="background:#222428; color:grey; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); border-radius: 20px; ">
                      <div class="card-header">
                          <i class="fas fa-table me-1"></i>
                          Manage Appointmetns Here
                      </div>
                      <div class="card-body">

                        <table id="datatablesSimple" class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Patient</th>
                              <th scope="col">Requested on</th>
                              <th scope="col">Message</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Patient</th>
                              <th scope="col">Requested on</th>
                              <th scope="col">Message</th>
                            </tr>
                          </tfoot>
                          <tbody>
                            {% if appts %}
                                {% for i in appts %}
                                    {% if not i.is_approved %}
                                        <tr>
                                          <td>{{forloop.counter}}</td>
                                          <td>{{i.patient.user.first_name}} {{i.patient.user.last_name}}</td>
                                          <td>{{i.created_on}}</td>
                                          <td>{{i.patient_message}}</td>
                                          <td><a class="btn btn-sm btn-success" href="/appointment/{{i.id}}/approve" style="color:black; background:cyan"><i class="fa fa-check" aria-hidden="true"></i></a></td>
                                          <td><a class="btn btn-sm btn-danger" href="/appointment/{{i.id}}/delete" style="color:black; background:red"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                          </tbody>
                        </table>

                      </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Notification Dashboard -->
    <div class="row">
        <br>
        <div class="col" style="margin-bottom: 10px">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header" style="text-align:left; color:grey">Pending Patients</div>
                <div class="card-body">
                {% for i in pending_patients|slice:6 %}
                    <div class="card bg-dark text-white mb-4" style="border-radius: 20px;">
                        <div class="card-header" style="text-align:left; color:grey">{{i.user.first_name}} {{i.user.last_name}}<p class="small text-white"><a href="/patient/{{i.id}}">View Patient</a>  <a href="tel:{{i.contact_number}}">{{i.contact_number|slice:1}}</a></p></div>
                    </div>
                {% endfor %}
                <div class="card-footer" style="text-align: center">
                    <a href="/my_urls" class="btn btn-success btn-md px-4 me-sm-3" style="color:black; background:cyan" >Manage Patients</a>
                </div>
                </div>
            </div>
        </div>
        <div class="col" style="margin-bottom: 10px">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header" style="text-align:left; color:grey">Recent Activity</div>
                <div class="card-body">
                    {% for i in link_data|slice:6 %}
                    <div class="card bg-dark" style="border-radius: 20px;; margin-bottom:10px">
                        <div class="card-header" style="text-align:left; color:grey"><p>{{i.url_id.short_url}}</p></div>
                        <div class="card-body" style="text-align:left;">
                            <p class="small text-white stretched-link"><span class="fab fa-{{i.operating_system.os_name.lower}}" aria-hidden="true"></span>
                            {{i.operating_system}} -
                            <span class="fa fa-{{i.device.device_name.lower}}"
                             aria-hidden="true"></span> {{i.device}} - <span class="fi fi-{{i.country.country_iso.lower}}"></span> {{i.country}} - {{i.timestamp}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="card-footer" style="text-align: center">
                        <a href="/recent_activity" class="btn btn-success btn-md px-4 me-sm-3" style="color:black; background:cyan" >View All</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
