{% extends 'HIS_app/dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Dashboard[{{user.first_name}}] {% endblock %}

{% block header %}
Dashboard[{{user.first_name}}]
{% endblock %}
{% block navbar %}
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" style="box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <h4 style="font-size:medium; text-align:end">Account Status:
                {% if patient_stats %}
                    <p style="color:green">Verified</p>
                {% else %}
                    <p style="color:red">Pending</p>
                {% endif %}
            </h4>
            <div class="sb-sidenav-menu-heading">Reporting</div>
            <a class="nav-link" href="/dashboard">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            {% if patient_stats %}
                <div class="sb-sidenav-menu-heading">My Tools</div>
                    <a class="nav-link" href="/book_appointment">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-md"></i></div>
                        Book Appointment
                    </a>
                    <a class="nav-link" href="/my_appointments">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-bed-pulse"></i></div>
                        My Appointments
                    </a>
                    <a class="nav-link" href="/my_history">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-clock-rotate-left"></i></div>
                        My Medical History
                    </a>
            {% else %}
                <div class="sb-sidenav-menu-heading">My Tools</div>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-md"></i></div>
                        Book Appointment
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-bed-pulse"></i></div>
                        My Appointments
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-clock-rotate-left"></i></div>
                        My Medical History
                    </a>
            {% endif %}
            <div class="sb-sidenav-menu-heading">Settings</div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-gear"></i></div>
                My Settings
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/user/edit_profile">Edit Profile</a>
                    <a class="nav-link" href="/change-password">Change Password</a>
                    <a class="nav-link" href="/logout">Logout</a>
                </nav>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        {{user}}
    </div>
</nav>
{% endblock %}
{% block content %}


{% endblock %}
