{% extends 'HIS_app/dashboard_patient_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Dashboard[{{user.first_name}}] {% endblock %}

{% block header %}
Dashboard[{{user.first_name}}]
{% endblock %}
{% block content %}
<style type="text/css">

</style>
<div class="row" style="display:flex;">
    <br>
    <div class="row" style="display:contents;">
        <div class="col">
            <div class="card bg-dark text-white mb-3">
                <div class="card-header">Upcoming Appointments</div>
                <div class="card-body" style="text-align:center;">
                    {% if appt_latest.is_approved and not appt_latest.is_met%}
                        <ul style="display:contents;">
                            <li class="list-group-item list-group-item-success">Date: {{appt_latest.appointment_date}}</li>
                            <li class="list-group-item list-group-item-success">Time: {{appt_latest.appointment_time}}</li>
                            <li class="list-group-item list-group-item-success">Doctor: {{appt_latest.doctor.user.first_name}} {{appt_latest.doctor.user.last_name}}</li>
                            <li class="list-group-item list-group-item-success">Patient: {{appt_latest.first_name}} {{appt_latest.last_name}}</li>
                        </ul>
                    {% else %}
                        <ul style="display:contents;">
                            <li class="list-group-item list-group-item-success">None</li>
                        </ul>
                    {% endif %}
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark text-white mb-3">
                <div class="card-header">Pending Appointments</div>
                <div class="card-body" style="text-align:center;">
                    {% for i in appointment %}
                        {% if not i.is_approved %}
                         <ul class="list-group">
                            <li class="list-group-item">Requested on: {{i.created_on}}</li>
                            <li class="list-group-item list-group-item-info">Patient: {{i.first_name}} {{i.last_name}}</li>
                        </ul>
                        {% endif %}
                    {% endfor %}
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white mb-3">
                <div class="card-header">Past Due</div>
                <div class="card-body" style="text-align:center;">
                    {% if appt_past_due %}
                        {% for i in appt_past_due %}
                            {% if i.is_approved and not i.is_met %}
                                <ul style="display:contents;">
                                    <li class="list-group-item list-group-item-danger">Date: {{i.appointment_date}}</li>
                                    <li class="list-group-item list-group-item-danger">Time: {{i.appointment_time}}</li>
                                    <li class="list-group-item list-group-item-danger">Doctor: {{i.doctor.user.first_name}} {{i.doctor.user.last_name}}</li>
                                    <li class="list-group-item list-group-item-danger">Patient: {{i.first_name}} {{i.last_name}}</li>
                                </ul>
                            {% else %}
                                <ul style="display:contents;">
                                    <li class="list-group-item list-group-item-success">None</li>
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <ul style="display:contents;">
                            <li class="list-group-item list-group-item-success">None</li>
                        </ul>
                    {% endif %}
              </div>
            </div>
        </div>

    </div>
</div>
<br>
<br>
<div class="card mb-4" style="background:#222428; color:grey; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); border-radius: 20px; ">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Book Appointments Here
  </div>
  <div class="card-body">
        <div class="form-wrap" id="appt_form" style="background-color:cadetblue">
        <!-- insert form here -->
            <form method="POST" class="form-group appt_form">
                {% csrf_token %}
                {{appt_form|crispy}}
                <br>
                <button name="appt_submit" type="submit" class="btn btn-lg w-100 btn-outline-light" style="display:inline; margin: 0;">Book Appointment</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
