{% extends 'HIS_app/dashboard_base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}

{% block header %}
Dashboard
{% endblock %}

{% block content %}
<style>
    .row {
         text-align:center;
    }

    #content-container { display: block; position: relative; width: 269px; width: 269px; height: 435px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


    #page_frame_1_ek1 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 435px;
    }

    #_bg__frame_1_ek2 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 435px;
        background:rgba(255,255,255,1);
    }


    #rectangle_1 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 162px;
        background:rgba(245.44,169.76,169.76,1);
    }


    #ellipse_1 {
        top: 112px;
        left: 85px;
        width: 118px;
        height: 118px;
        -ms-border-radius: 50px / 50px;
        -o-border-radius: 50px / 50px;
        -moz-border-radius: 50px / 50px;
        -webkit-border-radius: 50px / 50px;
        border-radius: 50px / 50px;
        border: 9px solid #ffffff;
        background:rgba(217,217,217,1);
    }
    .card {
        border-radius: 20px;
        border-color: #222428;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        padding: 5px;
    }
    #id_url_text {
        font-size: 12px;
    }
    #id_search_query {
        width: 100%;
        height: 15px;
    }
</style>

<div class="container">
    <!-- Reports Dashboard -->
    <div class="row" style="display:block;">

        <h3 class="mt-4" style="text-align: left; margin-bottom: 10px; color:#8f8d8d">Search Patient</h3>
        <br>
        <div class="col" style="margin-bottom: 10px">
            <div class="card bg-dark text-white mb-4" style="height:100%">
                <div class="card-header"><h5>Search patient by name or phone number</h5></div>
                <div class="card-body" style="text-align:center; ">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3" style="font-size:15px; display:block; width: 100%;">
                            {{search_form.search_query}}
                          <div class="input-group-append">
                            <br>
                            <button class="btn btn-success btn-md px-4 me-sm-3" type="submit" name="search" value="Search" style="background:#c47d6a; color:white; font-size:15px">Search</button>
                          </div>
                        </div>
                    </form>
                    {% if search_results %}
                        <h3>Search Results:</h3>
                        <ul>
                            {% for item in search_results %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row" style="display:flex;">
        <h3 class="mt-4" style="text-align: left; margin-bottom: 10px; color:#8f8d8d">Analytics</h3>
        <br>
        <div class="row" style="display:contents;">
            <div class="col">
                <div class="card bg-dark text-white mb-3">
                    <div class="card-header">Doctors</div>
                    <div class="card-body" style="text-align:center;">
                      <h5>{{unique_clicks}}</h5></div>
                    <div class="card-footer align-items-center justify-content-between" style="text-align: center;">
                        {% if todays_unq_clk %}
                        <p style="color:green">+{{todays_unq_clk}} Today</p>
                        {% else %}
                        <p style="color:rgb(0, 100, 100)">+0 Today</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark text-white mb-3">
                    <div class="card-header">Patients</div>
                    <div class="card-body" style="text-align:center;">
                      <h5>{{unique_clicks}}</h5></div>
                    <div class="card-footer align-items-center justify-content-between" style="text-align: center;">
                        {% if todays_unq_clk %}
                        <p style="color:green">+{{todays_unq_clk}} Today</p>
                        {% else %}
                        <p style="color:rgb(0, 100, 100)">+0 Today</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark text-white mb-3">
                    <div class="card-header">Appointments</div>
                    <div class="card-body" style="text-align:center;">
                      <h5>{{user.user_url.count}}</h5></div>
                    <div class="card-footer align-items-center justify-content-between" style="text-align: center;">
                        {% if todays_url %}
                        <p style="color:green">+{{todays_url}} Today</p>
                        {% else %}
                        <p style="color:rgb(0, 100, 100)">+0 Today</p>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="row" style="display:contents;">
        <div class="col" style="vertical-align:center;">
            <div class="card bg-dark text-white" style="height:auto;">
                <div class="card-header">
                    <h5 class="card-title">Pending Appointments</h5>
                </div>
                <div class="card-body" style="padding:2px!important">
                  <canvas id="myChart" style="
                        display: block;
                        box-sizing: border-box;">
                  </canvas>
                  <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                      type:"line",
                      data: {
                        labels: {{ labels | safe }},
                        datasets: [{
                          label: false,
                          data: {{ values | safe }},
                          borderColor: "rgb(0, 100, 100)",
                          backgroundColor: "rgb(0, 100, 100)",
                          fill:'origin',
                          lineTension: 0.5
                        }]
                      },
                      options: {
                        responsive: true,
                        plugins: {
                            title: {
                                display: true,
                                text: "{{chart_title|safe}}",
                                position: 'bottom',
                            },
                            legend: {
                                display: false
                            },
                        }
                      }
                    });
                  </script>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Notification Dashboard -->
    <div class="row">
        <h3 class="mt-4" style="text-align: left; margin-bottom: 10px; color:#8f8d8d">Recents</h3>
        <br>
        <div class="col" style="margin-bottom: 10px">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header" style="text-align:left; color:grey">Recently Added Links</div>
                <div class="card-body">
                {% for links in url_data|slice:6 %}
                    <div class="card bg-dark text-white mb-4" style="border-radius: 20px;">
                        {% if links.name|length < 20 %}
                            <div class="card-header" style="text-align:left; color:grey">{{links.name}} | {{links.url|slice:30}} ... </div>
                        {% else %}
                            <div class="card-header" style="text-align:left; color:grey">{{links.name|slice:30}} ... </div>
                        {% endif %}
                        <div class="card-body" style="text-align:left;">
                            <p class="small text-white"><a href="/{{links.url_id}}" target="_blank">{{links.short_url}}</a>{{links.counter}} clicks - {{links.created_on.date}}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="card-footer" style="text-align: center">
                    <a href="/my_urls" class="btn btn-success btn-md px-4 me-sm-3" style="color:black; background:cyan" >Manage Links</a>
                </div>
                </div>
            </div>
        </div>
        <div class="col" style="margin-bottom: 10px">
            <div class="card bg-dark text-white mb-4">
                <div class="card-header" style="text-align:left; color:grey">Recent Activity</div>
                <div class="card-body">
                    {% for i in link_data|slice:6 %}
                    <div class="card bg-dark" style="border-radius: 20px;; margin-bottom:10px">
                        <div class="card-header" style="text-align:left; color:grey"><p>{{i.url_id.short_url}}</p></div>
                        <div class="card-body" style="text-align:left;">
                            <p class="small text-white stretched-link"><span class="fab fa-{{i.operating_system.os_name.lower}}" aria-hidden="true"></span>
                            {{i.operating_system}} -
                            <span class="fa fa-{{i.device.device_name.lower}}"
                             aria-hidden="true"></span> {{i.device}} - <span class="fi fi-{{i.country.country_iso.lower}}"></span> {{i.country}} - {{i.timestamp}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="card-footer" style="text-align: center">
                        <a href="/recent_activity" class="btn btn-success btn-md px-4 me-sm-3" style="color:black; background:cyan" >View All</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
