{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Author -->
        <meta name="author" content="Eskias Yilma" />
        <meta name="color-scheme" content="dark" />
        {% if request.path == "/" %}
        <title>Dashboard - Clinicare.io | Lorem ipsum dolor sit amet</title>
        {% else %}
        <title>
        {% with name=request.path %} {{name|title}} {% endwith %} - Clinicare.io | Lorem ipsum dolor sit amet, consectetur adipiscing elit.</title>
        {% endif %}
        <!-- Description -->
        <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae hendrerit velit, in eleifend nisi. Donec sodales, tortor in cursus congue." />
        <!-- Keywords -->
        <meta name="keywords" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae hendrerit velit, in eleifend nisi. Donec sodales, tortor in cursus congue." />
        <!-- Canonical -->
        <link rel="canonical" href="https://clinicare.m-ini.me{{request.path}}">
        <!-- Home Link -->
        <link rel="home" href="{% url 'home' %}">
        <!-- Color Scheme -->
        <meta name="color-scheme" content="dark" />
        <!-- Favicon-->
        <link rel="shortcut-icon" type="image/png" href="{% static 'HIS_app/MyClinicare.io1.png' %}" type="image/x-icon" />
        <link rel="icon" type="image/png" href="{% static 'HIS_app/MyClinicare.io1.png' %}" />
        <link rel="apple-touch-icon" type="image/png" href="{% static 'HIS_app/MyClinicare.io1.png' %}" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'HIS_app/dashboard.css' %}">
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.6/css/flag-icons.min.css" integrity="sha512-uvXdJud8WaOlQFjlz9B15Yy2Au/bMAvz79F7Xa6OakCl2jvQPdHD0hb3dEqZRdSwG4/sknePXlE7GiarwA/9Wg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Ubuntu">
        <style>
          body {
            font-family: 'Ubuntu', serif !important;
            font-size: 15px !important;
          }
        </style>

        {% block styles %}{% endblock %}
    </head>
    <body class="sb-nav-fixed" style="font-family: Ubuntu;font-size: 13px;">
<style>
    h3 {
        color: white !important;
    }
    h1.mt-4.text-center {
        color: white !important;
    }
    .row {
         text-align:center;
    }
    #content-container { display: block; position: relative; width: 269px; width: 269px; height: 435px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }
    #page_frame_1_ek1 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 435px;
    }
    #_bg__frame_1_ek2 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 435px;
        background:rgba(255,255,255,1);
    }
    #rectangle_1 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 162px;
        background:rgba(245.44,169.76,169.76,1);
    }
    #ellipse_1 {
        top: 112px;
        left: 85px;
        width: 118px;
        height: 118px;
        -ms-border-radius: 50px / 50px;
        -o-border-radius: 50px / 50px;
        -moz-border-radius: 50px / 50px;
        -webkit-border-radius: 50px / 50px;
        border-radius: 50px / 50px;
        border: 9px solid #ffffff;
        background:rgba(217,217,217,1);
    }
    .card {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        padding: 5px;
        border-color: aqua;
        background-color: #c2d5cb !important;
        border-radius: 15px;
    }
    #id_url_text {
        font-size: 12px;
    }
    #id_search_query {
        width: 100%;
        height: auto;
    }
    /*TABLE CSS*/
  .table {
    --bs-table-bg: rgba(0,0,0,0);
    --bs-table-striped-color: #6C7293;
    --bs-table-striped-bg: rgba(0,0,0,0.05);
    --bs-table-active-color: #6C7293;
    --bs-table-active-bg: rgba(0,0,0,0.1);
    --bs-table-hover-color: #6C7293;
    --bs-table-hover-bg: rgba(0,0,0,0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #6C7293;
    vertical-align: top;
    border-color: #000;
    }

    .image-popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .image-popup img {
      border-radius: 10px;
      max-width: 80%;
      max-height: 80%;
      object-fit: contain;
    }

    .image-popup a {
      color: white;
      font-size: 20px;
      margin-top: 20px;
      text-decoration: none;
      border-bottom: 1px solid white;
    }
    .fa-qrcode {
      border: 1px solid #F5F5F5;
      padding: 5px;
      border-color: grey;
      border-radius: 5px;
      color: green;
      font-size: 15px;
    }

    .dataTable-container {
      text-align-last: center;
      border-radius: 15px;
    }
    .card-body {
        background-color: cadetblue;
        border-radius: 15px;
    }
    .container {
        background-color: cadetblue;
        border-radius: 15px;
    }
    .card-header {
        font-size: 20px !important;
        color: #ed600b !important;
        background-color: white;
        border-radius: 15px !important;
    }
    .card-footer {
        border-radius: 15px !important;
    }
    table, td{
        background-color: mintcream;
        border-radius: 15px;
    }
    main {
        background-color: #599496 !important;
    }

    .dataTable-selector {
        background-color: white !important;
    }
    label {
        color: white;
    }
    .dataTable-info {
        color: white;
    }
</style>

        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" style="box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);">
            <!-- Navbar Brand-->
            <span class="fa fa-linux"></span><a class="navbar-brand ps-3" href="/">Clinicare.io</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" style="background:#222428; color:grey">

            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/edit_profile">My Profile</a></li>
                        <li><a class="dropdown-item" href="/recent_activity">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                {% block navbar %}

                {% endblock %}
            </div>
            <div id="layoutSidenav_content" style="background:#222428">
                <main style="background:#222428">
                    <div class="container-fluid px-4">
                        <h1 class="mt-4 text-center" style="color:#8f8d8d">{% block header %}{% endblock %}</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">{{header}}</li>
                        </ol>
                        {% if messages %}
                            {% for msg in messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                  {{ msg }}
                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% block content %}

                        {% endblock %}
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto" style="background-color:#343a40">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Clinicare.io 2023. All Rights Reserved.</div>
                            <div>
                                <a href="/privacy">Privacy</a>
                                &middot;
                                <a href="/terms">Terms</a>
                                &middot;
                                <a href="/contact">Contact</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'HIS_app/dashboard.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@5" type="text/javascript"></script>
        <script>
            window.addEventListener('DOMContentLoaded', event => {
                const datatablesSimple = document.getElementById('datatablesSimple');
                if (datatablesSimple) {
                    new simpleDatatables.DataTable(datatablesSimple);
                }
            });
        </script>
    </body>
</html>
