{% extends "HIS_app/dashboard_admin.html" %}
<!-- Load Static -->
{% load static %}
{% load crispy_forms_tags %}
<!-- Load custom template filters -->
{% block title %} Update Doctor {% endblock %}

{% block header %}
Update Doctor
{% endblock %}


{% block content %}
<style>
  body{
  background-image: -webkit-gradient(linear, left top, right top, from(#4e63d7), to(#76bfe9)) !important;
      background-image: linear-gradient(to right, #4e63d7 0%, #76bfe9 100%) !important;
      margin-top:20px;}

  /* ===== LOGIN PAGE ===== */
  .login-box {
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  @media (min-width: 992px) {
    .login-box {
      margin: 40px 0;
    }
  }

  .login-box .form-wrap {
    padding: 30px 25px;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 768px) {
    .login-box .form-wrap {
      padding: 45px;
    }
  }

  @media (min-width: 992px) {
    .login-box .form-wrap {
      margin-top: -40px;
      margin-bottom: -40px;
      padding: 60px;
    }
  }

  .login-box .socials a {
    -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.12);
  }

  .login-section {
    position: relative;
    z-index: 0;
  }

  .login-section::after {
    position: absolute;
    content: '';
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -1;
    background-image: url(../img/shapes/login-wave2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
            animation-name: pulse;
  }

  .login-section::before {
    position: absolute;
    content: '';
    opacity: 0.10;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../img/shapes/login-wave1.svg);
    background-size: cover;
    background-position: top right;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
            animation-name: pulse;
  }

  .login-section .content {
    padding: 45px;
  }

  .form-group .zmdi {
      position: absolute;
      z-index: 1;
      color: #fff;
      background-color: #4e63d7;
      border-radius: 5px;
      height: 100%;
      width: 45px;
      text-align: center;
      font-size: 20px;
      padding-top: 13px;
  }


  .form-control {
      border: 1px solid #e1e1e1;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 5px;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      background-color: #fff;
      color: #858585;
      font-weight: 400;
      position: relative;
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<section class="py-5">
    <div class="container">
            <div class="row">
                <div class="col-md-11 mt-60 mx-md-auto">
                    <div class="login-box bg-dark text-white pl-lg-5 pl-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-md-6">
                                <div class="form-wrap bg-dark text-white">
                                    <h3 class="btm-sep pb-3 mb-5" style="text-align:center">Modify Doctor Details</h3>
                                        {% load bootstrap4 %}
                                        {% bootstrap_css %}
                                        {% bootstrap_javascript jquery='full' %}
                                        {{ form.media }}
                                    <form method="POST" class="form-group" >
                                        <!-- Create a Crsf_token here [Required] -->
                                        {% csrf_token %}
                                        {{form|crispy}}
                                        <br>
                                        <input type="submit" class="btn btn-secondary" name="update_appt" value="Update Doctor">

                                        <br>
                                        <br>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="content text-center">
                                    <div class="border-bottom pb-4 mb-4">
                                      <br>
                                      <br>
                                        <h3 class="c-black">Modify Doctor's Details</h3>
                                        <p class="c-black" style="border:1px white solid; margin:20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a interdum quam, eget vehicula ex. Sed in ex tellus. Sed mauris mauris, porta eget convallis at, eleifend ac risus. Cras at sollicitudin nisl. Praesent imperdiet est ac iaculis dignissim. Vivamus volutpat, dui in convallis sagittis, magna sapien pharetra nisi, non ornare magna leo quis neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; </p>
                                    </div>
                                    <div class="container" style="background:None">
                                        <a href="/doctors" class="btn btn-lg w-100 btn-outline-light" style="display:inline; margin: 0;">Go Back</a>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</section>
{% endblock %}
