{% extends "HIS_app/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    #hint_id_username {
        color:lightgrey !important;
    }
    #hint_id_password1 ul li {
        color:lightgrey;
    }
    .bi {
        color: #ffad98;
    }
    .fa-stethoscope, .fa-wheelchair, #snake, .fa-vials {
        color: #ffad98 !important;
    }
    .btn-primary {
        background-color: #c47d6a;
    }
    #illust_id {

      filter: drop-shadow(0 0 0.75rem crimson);
    }
    #appt_form form div label {
        visibility: hidden !important;
    }
    .card, #subscribe {
    border-radius: 20px;
    border-color: #ffad98;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 5px;
    }

    .scroll-left {
     height: 50px;
     overflow: hidden;
     position: relative;
     background: #ffad98;
     color: black;
     border: 1px solid orange;
    }
    .scroll-left h4 {
    font-weight: bolder;
     position: absolute;
     width: 100%;
     height: 100%;
     margin: 0;
     line-height: 50px;
     text-align: center;
     /* Starting position */
     transform:translateX(100%);
     /* Apply animation to this element */
     animation: scroll-left 10s linear infinite;
    }
    /* Move it (define the animation) */
    @keyframes scroll-left {
     0%   {
     transform: translateX(100%);
     }
     100% {
     transform: translateX(-100%);
     }
    }
</style>


<!-- Header-->
<header class="bg-dark py-5" style="background-color:cadetblue !important">
    <div class="container">
        <section class="py-5">
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{ msg }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <!-- TODO- insert alt text here -->
            <img class="img-fluid rounded-3 my-5" id="illust_id" style="opacity: 0.8" src="{% static 'HIS_app/183037391.jpg' %}" alt="" />
        <!-- <div class="scroll-left"> -->
        <!-- <h4>Announcements Section</h4> -->
    </section>
</div>
        </div>
    </div>
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Book An Appointment Today!</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Arm reason return. Page wall sure kitchen. Matter event industry citizen ahead. Own step expert.
                    Far thank school manager commercial unit. Somebody list large almost trouble kid bill.
                    Western such financial enter. Suffer ahead far huge. Less general including political pattern now enter pattern. Arrive town brother almost seem husband.
                    Rock instead half security rich agency among important. Out country too fact hand scientist view history.</p>
                </div>
            </div>
            <div class="col-lg-8 col-xl-7 col-xxl-6 text-center">
                <div class="form-wrap" id="appt_form" style="background-color:cadetblue">
                <!-- insert form here -->
                    <form method="POST" class="form-group appt_form">
                        {% csrf_token %}
                        {{appt_form|crispy}}
                        <br>
                        <button name="appt_submit" type="submit" class="btn btn-lg w-100 btn-outline-light" style="display:inline; margin: 0;">Book Appointment</button>
                    </form>
                </div>
                <!-- <img class="img-fluid rounded-3 my-5" src="{% static 'urlshortner/homepage_top.png' %}" alt="Short Links, Trackable and More!" /> -->
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0" style="; background: cadetblue; padding-top: 60px; border-radius: 10px; align-self: baseline;padding-bottom: 60px">
                <div id="get_started w-100" style="display:block; text-align:center">
                {% if user.is_authenticated %}

                    <a href="/dashboard" class="btn btn-primary btn-lg w-100 btn-outline-light" style="display:inline">Go to Your Dashboard</a>
                    <br>
                    <br>
                    <h4>Lorem ipsum</h4>
                    <p style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae hendrerit velit, in eleifend nisi. Donec sodales, tortor in cursus congue, neque nunc scelerisque enim, a fringilla diam enim in neque.</p>
                    <h4>Vestibulum quis</h4>
                    <p style="color:white"> Vestibulum quis velit ornare, facilisis augue nec, eleifend ex. Morbi scelerisque, orci eu pulvinar faucibus, magna nisi ultrices felis, a fermentum augue leo et dolor. Donec cursus ullamcorper nisi, sed accumsan arcu elementum sed. Quisque non augue sit amet ligula consequat tristique nec non sapien. Mauris lacus urna, euismod sed nulla nec, porttitor efficitur dolor. Aliquam ullamcorper eu magna in malesuada. Cras quis mattis arcu, eget imperdiet metus. Aenean a maximus diam. </p>
                {% else %}


                    <div class="form-wrap" >
                    <!-- insert form here -->
                            <br>
                            <h4 style="color:#ffc59c;">Already have an Account?</h4>
                            <br>

                            <a href="/login" class="btn btn-lg w-100 btn-outline-light" style="display:inline; margin: 0;">Login to your Account</a>

                            <br>
                            <br>
                            <div class="border-bottom pb-2 mb-2"></div>
                            <br>
                            <br>


                            <h4 style="color:#ffc59c;">First Time Here?</h4>
                            <br>
                            <a href="/register" class="btn btn-lg w-100 btn-outline-light" style="display:inline; margin:0;">Create a Free Account</a>
                            <br>
                            <br>
                            <p style="color:white;"> Vestibulum quis velit ornare, facilisis augue nec, eleifend ex. Morbi scelerisque, orci eu pulvinar faucibus, magna nisi ultrices felis, a fermentum augue leo et dolor. Donec cursus ullamcorper nisi, sed accumsan arcu elementum sed. Quisque non augue sit amet ligula consequat tristique nec non sapien. Mauris lacus urna, euismod sed nulla nec, porttitor efficitur dolor. Aliquam ullamcorper eu magna in malesuada. Cras quis mattis arcu, eget imperdiet metus. Aenean a maximus diam. </p>
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="col-lg-8" style="display: inline-block; align-self:center; padding:5%">
                <div class="row gx-5 row-cols-1 row-cols-md-2">

                    <div class="col mb-5 h-100 text-center">
                        <div class="feature bg-dark bg-gradient text-info rounded-3 mb-3"><i class="fa-solid fa-stethoscope"></i></div>
                        <h3 class="h5">Specialization 1</h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare massa eget egestas purus viverra. Libero nunc consequat interdum varius. Nulla facilisi cras fermentum odio eu feugiat. Ut diam quam nulla porttitor massa id neque. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Congue nisi vitae suscipit tellus mauris a. </p>
                    </div>
                    <div class="col mb-5 h-100 text-center">
                        <div class="feature bg-dark bg-gradient text-info rounded-3 mb-3"><i class="fa-solid fa-wheelchair"></i></div>
                        <h3 class="h5">Specialization 2</h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare massa eget egestas purus viverra. Libero nunc consequat interdum varius. Nulla facilisi cras fermentum odio eu feugiat. Ut diam quam nulla porttitor massa id neque. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Congue nisi vitae suscipit tellus mauris a. </p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100 text-center">
                        <div class="feature bg-dark bg-gradient text-info rounded-3 mb-3"><i id="snake" class="fa-solid fa-staff-snake"></i></div>
                        <h3 class="h5">Specialization 3</h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare massa eget egestas purus viverra. Libero nunc consequat interdum varius. Nulla facilisi cras fermentum odio eu feugiat. Ut diam quam nulla porttitor massa id neque. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Congue nisi vitae suscipit tellus mauris a. </p>
                    </div>
                    <div class="col h-100 text-center">
                        <div class="feature bg-dark bg-gradient text-info rounded-3 mb-3"><i class="fa-solid fa-vials"></i></div>
                        <h3 class="h5">Specialization 4</h3>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare massa eget egestas purus viverra. Libero nunc consequat interdum varius. Nulla facilisi cras fermentum odio eu feugiat. Ut diam quam nulla porttitor massa id neque. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Congue nisi vitae suscipit tellus mauris a. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
