{% extends "HIS_app/dashboard_admin.html" %}
<!-- Load Static -->
{% load static %}
<!-- Load custom template filters -->
{% block title %} Patient History {% endblock %}

{% block header %}
Manage Patient History
{% endblock %}


{% block content %}
<style>
  .table {
    --bs-table-bg: rgba(0,0,0,0);
    --bs-table-striped-color: #6C7293;
    --bs-table-striped-bg: rgba(0,0,0,0.05);
    --bs-table-active-color: #6C7293;
    --bs-table-active-bg: rgba(0,0,0,0.1);
    --bs-table-hover-color: #6C7293;
    --bs-table-hover-bg: rgba(0,0,0,0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #6C7293;
    vertical-align: top;
    border-color: #000;
}

.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-popup img {
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.image-popup a {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.fa-qrcode {
  border: 1px solid #F5F5F5;
  padding: 5px;
  border-color: grey;
  border-radius: 5px;
  color: green;
  font-size: 15px;
}

.dataTable-container {
  text-align-last: center;
}

</style>



<div class="card mb-4" style="background:#222428; color:grey; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); border-radius: 20px; ">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Manage Patient History Here
  </div>
  <div class="card-body">

    <table id="datatablesSimple" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <!-- TODO Add DOctor / Diagnosed By-->
          <th scope="col">Patient</th>
          <th scope="col">Height</th>
          <th scope="col">Weight</th>
          <th scope="col">Age</th>
          <th scope="col">History</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <!-- TODO Add DOctor / Diagnosed By-->
          <th scope="col">Patient</th>
          <th scope="col">Height</th>
          <th scope="col">Weight</th>
          <th scope="col">Age</th>
          <th scope="col">History</th>
        </tr>
      </tfoot>
      <tbody>
        {% for i in history %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{i.date}}</td>
              <td>{{i.patient.user.first_name}} {{i.patient.user.last_name}}</td>
              <td>{{i.height}}</td>
              <td>{{i.weight}}</td>
              <td>{{i.age}}</td>
              <td>{{i.history}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
