{% extends "HIS_app/dashboard_admin.html" %}
<!-- Load Static -->
{% load static %}
<!-- Load custom template filters -->
{% block title %} Patients {% endblock %}

{% block header %}
Manage Patients
{% endblock %}


{% block content %}
<style>
  .table {
    --bs-table-bg: rgba(0,0,0,0);
    --bs-table-striped-color: #6C7293;
    --bs-table-striped-bg: rgba(0,0,0,0.05);
    --bs-table-active-color: #6C7293;
    --bs-table-active-bg: rgba(0,0,0,0.1);
    --bs-table-hover-color: #6C7293;
    --bs-table-hover-bg: rgba(0,0,0,0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #6C7293;
    vertical-align: top;
    border-color: #000;
}

.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-popup img {
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.image-popup a {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.fa-qrcode {
  border: 1px solid #F5F5F5;
  padding: 5px;
  border-color: grey;
  border-radius: 5px;
  color: green;
  font-size: 15px;
}

.dataTable-container {
  text-align-last: center;
}

</style>

<div class="row" style="display:flex;">
    <br>
    <div class="row" style="display:contents;">
        <div class="col">
            <div class="card bg-dark text-white mb-3">
                <div class="card-header">Pending Appointments</div>
                <div class="card-body" style="text-align:center;">
                  <h5><a href="/appointments" style="color:white !important;">{{pending_appointments.count}}</a></h5></div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark text-white mb-3">
                <div class="card-header">All Patients</div>
                <div class="card-body" style="text-align:center;">
                  <h5>{{patients.count}}</h5></div>
            </div>
        </div>

        <div class="col">
            <div class="card bg-dark text-white mb-3">
                <div class="card-header">Pending Patients</div>
                <div class="card-body" style="text-align:center;">
                  <h5>{{pending_patients.count}}</h5></div>
            </div>
        </div>

    </div>
</div>

<div class="card mb-4" style="background:#222428; color:grey; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); border-radius: 20px; ">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Manage Patients Here
  </div>
  <div class="card-body">

    <table id="datatablesSimple" class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Phone</th>
          <th scope="col">EC-Name</th>
          <th scope="col">EC-Phone</th>
          <th scope="col">EC-Addr</th>
          <th scope="col">Status</th>
          <th scope="col">Has History</th>
          <th scope="col">Registered</th>
          <th scope="col">Discharged</th>
          <th scope="col">Appointments</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Phone</th>
          <th scope="col">EC-Name</th>
          <th scope="col">EC-Phone</th>
          <th scope="col">EC-Addr</th>
          <th scope="col">Status</th>
          <th scope="col">Has History</th>
          <th scope="col">Registered</th>
          <th scope="col">Discharged</th>
          <th scope="col">Appointments</th>
        </tr>
      </tfoot>
      <tbody>
        {% for i in patients %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{i.user.first_name}} {{i.user.last_name}}</td>
              <td>{{i.address|slice:10}}</td>
              <td>{{i.contact_number}}</td>
              <td>{{i.ec_Name|slice:10}}</td>
              <td>{{i.ec_Phone_Number}}</td>
              <td>{{i.ec_Address|slice:10}}</td>
              {% if i.is_approved %}
                <td><i class="fa fa-check" aria-hidden="true" style="color:green"></i></td>
              {% else %}
                <td><i class="fa-solid fa-x" style="color:red"></i></td>
              {% endif %}
              {% if i.has_history %}
                <td><i class="fa fa-check" aria-hidden="true" style="color:green"></i></td>
              {% else %}
                <td><i class="fa-solid fa-x" style="color:red"></i></td>
              {% endif %}
              <td>{{i.user.date_joined|slice:1}}</td>
              {% if i.is_discharged %}
                <td><i class="fa fa-check" aria-hidden="true" style="color:green"></i></td>
              {% else %}
                <td><i class="fa-solid fa-x" style="color:red"></i></td>
              {% endif %}
              <td>TODO</td>
              <td><a class="btn btn-sm btn-success" href="/patient/{{i.id}}" style="color:black; background:cyan"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
              <td><a class="btn btn-sm btn-success" href="/patient/{{i.id}}/approve" style="color:black; background:cyan"><i class="fa fa-check" aria-hidden="true"></i></a></td>
              <td><a class="btn btn-sm btn-success" href="/patient/{{i.id}}/edit" style="color:black; background:green"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
              <td><a class="btn btn-sm btn-danger" href="/patient/{{i.id}}/delete" style="color:black; background:red"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}
