{% extends 'HIS_app/dashboard_admin.html' %}
{% load static %}
{% block title %} Dashboard[Admin] {% endblock %}

{% block header %}
Dashboard[Admin]
{% endblock %}

{% block content %}
<style>
    .row {
         text-align:center;
    }

    #content-container { display: block; position: relative; width: 269px; width: 269px; height: 435px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }


    #page_frame_1_ek1 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 435px;
    }

    #_bg__frame_1_ek2 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 435px;
        background:rgba(255,255,255,1);
    }


    #rectangle_1 {
        top: 0px;
        left: 0px;
        width: 269px;
        height: 162px;
        background:rgba(245.44,169.76,169.76,1);
    }


    #ellipse_1 {
        top: 112px;
        left: 85px;
        width: 118px;
        height: 118px;
        -ms-border-radius: 50px / 50px;
        -o-border-radius: 50px / 50px;
        -moz-border-radius: 50px / 50px;
        -webkit-border-radius: 50px / 50px;
        border-radius: 50px / 50px;
        border: 9px solid #ffffff;
        background:rgba(217,217,217,1);
    }
    .card {
        border-radius: 20px;
        border-color: #222428;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        padding: 5px;
    }
    #id_url_text {
        font-size: 12px;
    }
    #id_search_query {
        width: 100%;
        height: auto;
    }
    .btn-primary {
        background-color: #c47d6a;
    }
    #view_history {
        color: #3db5ff !important;
    }
    .card-header {
        color: #3db5ff !important;
    }
</style>

<div class="container">
    <div class="row" style="display:contents;">
        <div class="col" style="vertical-align:center;">
            <div class="card bg-dark text-white" style="height:auto;">
                <div class="card-header">
                    <h5 class="card-title">Edit Patient</h5>
                </div>
                <div class="card-body" style="padding:2px!important">
                    <div class="row">
                        <br>
                        <div class="col" style="margin-bottom: 10px">
                            <div class="card bg-dark text-white mb-4">
                                <div class="card-header" style="text-align:left; color:grey">Patient Profile</div>
                                <div class="card-body">
                                            <a class="btn btn-lg btn-success" href="/patient/{{patient.id}}/edit" style="color:black; background:cyan"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                            <a class="btn btn-lg btn-success" href="/patient/{{patient.id}}/approve" style="color:black; background:green"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="btn btn-lg btn-danger" href="/patient/{{patient.id}}/delete"><i class="fa fa-trash" aria-hidden="true" ></i></a>
                                    <div class="card bg-dark" style="border-radius: 20px;; margin-bottom:10px">
                                        <div class="card-header" style="text-align:left; color:grey"><h4>{{patient.user.first_name}} {{patient.user.last_name}}</h4></div>
                                        <div class="card-body" style="text-align:left;">
                                            <p class="small text-white stretched-link"><span class="fa fa-phone" aria-hidden="true"></span>
                                            {{patient.contact_number}}</p>
                                            <p><span class="fa fa-home"
                                             aria-hidden="true"></span>  {{patient.address}}</p>
                                            <!-- Patient Approval status -->
                                            {% if patient.is_approved %}
                                                <p style="color:green"><span class="fa fa-check"></span>
                                             Approved</p>
                                             {% else %}
                                                <p style="color:red"><i class="fas fa-user"></i>
                                             Pending</p>
                                             {% endif %}
                                            <p><span class="fa fa-user-plus"></span>  {{patient.user.date_joined}}</p>
                                            <p><span class="fa fa-history"></span>  {{patient.has_history}}</p>
                                            <p>Blood Type:  {{latest_history.blood_type}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col" style="margin-bottom: 10px">
                            <div class="card bg-dark text-white mb-4">
                                <div class="card-header" style="text-align:left; color:grey">Latest History</div>
                                <div class="card-body">
                                    <div class="card bg-dark" style="border-radius: 20px;; margin-bottom:10px">
                                        <div class="card-header" style="text-align:left; color:grey"><h4>{{latest_history.date}}</h4></div>
                                        <div class="card-body" style="text-align:left;">
                                            <p>W-{{latest_history.weight}} H-{{latest_history.height}} BT-{{latest_history.blood_type}}</p>
                                            <p>{{latest_history.history}}</p>
                                            <a class="btn btn-lg btn-primary" href="#" style="background: #3db5ff !important;"><i class="fa fa-plus" aria-hidden="true" style="background: #3db5ff !important; color: white;"></i></a>
                                            <a id="view_history" class="btn btn-lg btn-primary" href="/patient_history/{{patient.id}}" style="background: #3db5ff !important; color:white !important">View Full History</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Reports Dashboard -->
    <div class="row" style="display:block;">
        <br>
        <div class="col" style="margin-bottom: 10px">
            <div class="card bg-dark text-white mb-4" style="height:100%">
                <div class="card-header"><h5>Search patient by name or phone number</h5></div>
                <div class="card-body" style="text-align:center; ">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3" style="font-size:15px; display:block; width: 100%;">
                            {{search_form.search_query}}
                          <div class="input-group-append">
                            <br>
                            <button class="btn btn-success btn-lg px-4 me-sm-3" type="submit" name="search" value="Search" style="background: #3db5ff !important; color:white !important">Search</button>
                          </div>
                        </div>
                    </form>
                    {% if search_results %}
                        <div class="col" style="margin-bottom: 10px">
                            <div class="card bg-dark text-white mb-4">
                                <div class="card-header" style="text-align:left; color:grey">Quick Search Results</div>
                                <div class="card-body">
                                {% for i in search_results %}
                                    <div class="card bg-dark text-white mb-4" style="border-radius: 20px;">
                                        <div class="card-header" style="text-align:left; color:grey">Patient Name - {{i.user.first_name}}</div>
                                        <div class="card-body" style="text-align:left;">
                                            <p class="small text-white"><a href="/patient/{{i.id}}" target="_blank">View patient</a></p>
                                            <p>Phone Number - {{i.contact_number}}</p>
                                            <p>Approved - {{i.is_approved}}</p>
                                            <p>Has History - {{i.has_history}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="card-footer" style="text-align: center">
                                    <a href="/my_urls" class="btn btn-success btn-lg px-4 me-sm-3" style="background: #3db5ff !important; color:white !important" >Go To Patients</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>

{% endblock %}
